body {
    font-size: 16px;
    font-family: 'Droid Serif', Serif;
    color: #000000;
    background-color: #3fe0d0;
}


/* HEADER Section */

#header-nav {
    background-color: #ffd700;
    border-radius: 0;
    border: 0;
}

#header-nav button {
    margin-top: 22px;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #dbc488;
}

.navbar-collapse {
    border-top: 0;
}

.navbar-brand, .navbar-nav li a {
    line-height: 76px;
    height: 76px;
    padding-top: 0;
}

.navbar-brand h1 {
    color: #5e1c18;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    font-size: 1.8em;
}

.navbar-brand a:hover {
    text-decoration: none;
    text-shadow: 1px 1px 1px #f5abab;
}

#nav-list {
    background-color: #bd912b;
}

#nav-list a {
    font-weight: bolder;
    color: #403e3e;
    font-size: 1.2em;
}

#nav-list a:hover {
    color: #1c1c1c;
    background-color: #dbc488;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
    border: 1px solid #54120e;
}


/* END of HEADER Section */


/* Homepage */

#main-content {
    width: 92%;
    margin-bottom: 40px;
}

#main-content h2 {
    font-size: 2.9em;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 50px;
}

#main-content h3 {
    font-size: 1.6em;
    font-weight: bold;
    margin-bottom: 1em;
}

#main-section {
    background-color: #8685d6;
    box-shadow: 0 0 50px #030954;
    padding: 30px;
}

/* End of Homepage */
